<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/contact.css">
</head>
<body>
    <header class="header">
        <nav class="nav bg">
            <div class="menu">
                <div class="img-logo">
                    <a href="home.html"><img class="w-100" src="../images/layout/logo.png" alt="logo"></a>
                </div>
                <div>
                    <ul class="main-menu">
                        <li class="option-menu">
                            <a href="WhyChooseUs.html" class="option">WHY CHOOSE US</a>
                        </li>
                        <li class="option-menu">
                            <a href="industries.html" class="option ">INDUSTRIES</a>
                        </li>
                        <li class="option-menu">
                            <a href="work.html" class="option">WORKS</a>
                        </li>
                        <li class="option-menu">
                            <a href="team.html" class="option">OUR TEAM</a>
                        </li>
                        <li class="option-menu">
                            <a href="contact.html" class="option">CONTACT</a>
                        </li> 
                        <li class="option-menu">
                            <a href="#" class="option vn">ENG/VN</a>
                        </li>                                  
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="page-content">
            <div class="banner">
                <img class="w-100" src="../images/contact/Contact-1.png" alt="bn">
                <div class="title-banner">
                    <h2 class="cl-w">CONTACT US</h2>
                </div>
                <div class="sub-banner">
                    <p class="cl-w">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                        type and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <di class="content">
                <h4 class="title">Get an estimate for your app idea. We do not spam.</h4>
            </div>
           <div class="d-flex">
            <div class="text-content">
                <h4>Sydney</h4>
                <p>
                    417/165 Phillip St Sydney NSW 2000 Australia
                    1300 028 808
                    Int. +61 2 8776 3849
                    sales@block8.com
                </p>
                <h4>Chandigarh</h4>
                <p>
                    Rajiv Gandhi Chandigarh Technology Park, 
                    Manimajra, Chandigarh, 160101, India
                </p>
            </div>
            <div class="form-content">
                <form>
                    <input class="form-control" type="text" placeholder="Name">
                    <input class="form-control" type="text" placeholder="Email">
                    <input class="form-control" type="text" placeholder="Subject">
                    <textarea class="form-control"   name="Message" placeholder="Message" cols="47" rows="5"></textarea>
                    <button class="btn btn-primary" type="button">SEND</button>                </form>
            </div>
           </div>
           <div class="Subscribe ">
            <img class="w-100" src="../images/contact/Contact-3.png" alt="">
            <h4 class="title-sub cl-w">Subscribe to our Newsletter</h4>
            <p class="sub-sub cl-w">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem 
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                unknown printer took a galley of type and scrambled it to
            </p>
            <button type="button" class="btn-sub">SUBSCRIBE NOW</button>
           </div>
        </div>
    </section>

    <footer>
        <div class="ft d-flex">
            <div class="logo logo-footer">
                <a href="home.html">
                    <img class="w-100" src="../images/layout/logo-ft.png" alt="logo-ft">
                </a>
            </div>
            <div class="menu-ft">
                <ul class="choose-option d-flex">
                    <li class="option-ft">
                        <a href="WhyChooseUs.html" class="op-ft">WHY CHOOSE US</a>
                    </li>
                    <li class="option-ft">
                        <a href="industries.html" class="op-ft">INDUSTRIES</a>
                    </li>
                    <li class="option-ft">
                        <a href="work.html" class="op-ft">WORKS</a>
                    </li>
                    <li class="option-ft">
                        <a href="team.html" class="op-ft">OUR TEAM</a>
                    </li>
                    <li class="option-ft">
                        <a href="contact.html" class="op-ft">CONTACT</a>
                    </li>                                                     
                </ul>
            </div>
             
            <div class="d-flex right-footer ">
                <a class="ft-contact" href="#">012345XXXXX</a>
                <div class="mxh">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="mxh">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            
        </div>
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>