<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
    <header class="header">
        <nav class="nav bg">
            <div class="menu">
                <div class="img-logo">
                    <a href="home.html"><img class="w-100" src="../images/layout/logo.png" alt="logo"></a>
                </div>
                <div>
                    <ul class="main-menu">
                        <li class="option-menu">
                            <a href="WhyChooseUs.html" class="option">WHY CHOOSE US</a>
                        </li>
                        <li class="option-menu">
                            <a href="industries.html" class="option ">INDUSTRIES</a>
                        </li>
                        <li class="option-menu">
                            <a href="work.html" class="option">WORKS</a>
                        </li>
                        <li class="option-menu">
                            <a href="team.html" class="option">OUR TEAM</a>
                        </li>
                        <li class="option-menu">
                            <a href="contact.html" class="option">CONTACT</a>
                        </li> 
                        <li class="option-menu">
                            <a href="#" class="option vn">ENG/VN</a>
                        </li>                                  
                    </ul>
                </div>
            </div>
            <div class="menu-title">
                <h3 class="title-m">                   
                    Develop High-tech products
                    for Enterprise 
                </h3>
                <p class="text-m">
                    We provide excellent development services in a wide range of business industries with distributed systems based on Blockchain technology    
                </p>
                <button class="btn-banner">
                    LEARN MORE
                </button>
            </div>
           
        </nav>
    </header>
   
    <section class="page-1">
        <div class="page-content">
            <div class="content-1 welcome alg-center">
                <h2 class="title-page">WELCOME TO TVM BLOCKCHAIN</h2>
                <p>
                    Thank you for visiting us <br>
                    If you are looking for a partner who is able to do software development tasks professionally, <br>
                    definitely we are your SMART decision. Work with us and you won't be disappointed.
                </p>
            </div>
            <div class="welcome-img d-flex ">
                <div class="card-wc img-hv">
                    <a href="#">
                        <img src="../images/home/welcome1.png" class="w-100" alt="wc1">               
                    </a>
                </div>
                <div class="card-wc img-hv">
                    <a href="#">
                        <img src="../images/home/welcome2.png" class="w-100" alt="wc2">               
                    </a>
                </div>
                <div class="card-wc img-hv">
                    <a href="#">
                        <img src="../images/home/welcome3.png" class=" w-100" alt="wc3"> 
                    </a>              
                </div>
            </div>
             <!-- Cooperation  -->
            <div class="content-2 top-100">
                <div class="alg-center">
                    <h2 class="title-page">WE ARE ALWAY LOOKING FOR COOPERATION <br>
                        FOR MUTUAL DEVELOPMENT</h2>
                </div>
                <div class="cope d-flex">
                    <div class="text-cope">
                        <div class="item">
                            <span class="span-cope">1</span>
                            <p>With partners to bring to market high-quality high-tech products</p>
                        </div>
                        <div class="item">
                            <span class="span-cope">2</span>
                            <p>Promoted and support appropriate startup ideas in the blockchain field</p>
                        </div>
                        <div class="item">
                            <span class="span-cope">3</span>
                            <p>With business to help them get products suitable for business requirements</p>
                        </div>
                    </div>
                    
                    <div class="img-cope img-hv">
                        <img class="w-100" src="../images/home/cooperation.png" alt="cope">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-2 img-hv">
        <div class="container">
            <div class="alg-center">
                <h2 class="title-page">OUR SERVICES</h2>
            </div>
            
            <div class="list-work">
                <div class="card">
                    <img class="wh"src="../images/home/service1.png" alt="sv1">
                    <div class="card-content">
                      <h4>Software development</h4>
                      <p>
                        Blockchain & DLT Applications
                            Mobile & Web Applications
                            Solution Architecture
                            Agile Delevery Management
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/home/service2.png" alt="sv1">
                    <div class="card-content">
                      <h4>Product Innovation</h4>
                      <p>
                        product Ownership & Management'
                        Product Discovery & Research
                        Micro & Marco Analysis
                        Data Driven UX Design
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/home/service3.png" alt="sv1">
                    <div class="card-content">
                      <h4>Enterprise Consulting</h4>
                      <p>
                        Digital Transformation
                            Blockchain Strategy
                            Prototyping & Proof of Concepts
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/home/service4.png" alt="sv1">
                    <div class="card-content">
                      <h4>Infrastructure and Security</h4>
                      <p>
                        Turnkey Cloud Infrastructure
                            DevOps as a service
                            Scalability, Reliability, Security
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/home/service5.png" alt="sv1">
                    <div class="card-content">
                      <h4>Economics</h4>
                      <p>
                        Game Theory & Incentive Design
                            Network Effect Design
                            Economic Modelling
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/home/service6.png" alt="sv1">
                    <div class="card-content">
                      <h4>Blockchain System Design</h4>
                      <p>
                        Trustless System Design
                            Defining & Tokenising Value
                            Public & Private Smart Contracts
                      </p>
                    </div>
                </div>
            </div>
        </div>

        
    </section>

    <section class="img-hv">
        <div class="container">
            <div class=" alg-center" style="margin-top: 80px;">
                <h2 class="title-page">RESEARCH AND DEVELOPMENT</h2>
                <p class="sub-research">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book
                </p>
                <button class="icon-button">
                    Discovery
                    <img src="../images/home/button-shape.png" alt="Icon" class="icon">
                </button>
            </div>


            <div class="card-container">
                <div class="cardd card-1">
                    <h4 style="color: #828282;">Research</h4>
                    <h6>Digital Innovation</h6>
                    
                        <ul style="width: 400px;">
                            <li>Blockchain payment system.</li>
                            <li>Investment Bank and Blockchain 
                                settlement</li>
                            <li>Real Estate Payment and management</li>
                        </ul>
                </div>
                <div class="cardd card-2">
                    <h4 style="color: white;">DEVELOPMENT</h4>
                    <h6 style="color: white;">Consentsus for Settlement</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy 
                        text ever since the 1500s, when an type and scrambled specimen book.</p>
                </div>
                <img src="../images/home/research1.png" alt="Image on top of Card 2" class="overlay-image">
        </div>
    </section>

    <section>
        <div class="container">
            <div class="op alg-center">
                <h2 class="title-page">OUR PARTNER</h2>
            </div>
            <div class="list-card-op">
                <div class="card-op">
                    <div class="card-content-op bg1">
                        <img src="../images/home/partner1.png" alt="Logo" class="logo-op">
                        <h2>ABCXYZ</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <button class="button">LEARN MORE</button>
                    </div>
                </div>
                <div class="card-op">
                    <div class="card-content-op bg2">
                        <img src="../images/home/partner1.png" alt="Logo" class="logo-op mgb">
                        <h2>ABCXYZ</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        
                    </div>
                </div>
                <div class="card-op">
                    <div class="card-content-op bg3">
                        <img src="../images/home/partner1.png" alt="Logo" class="logo-op mgb">
                        <h2>ABCXYZ</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        
                    </div>
                </div>
            </div>
           <div class="alg-center">
            <button class="bt-op">VIEW MORE</button>
           </div>
        </div>
        </div>
    </section>

    <section>
        <div class="page-content">
            <div class=" alg-center">
                <h2 class="title-page">JOIN WITH US!</h2>
                <p class="sub-join">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book
                </p>
                <button class="bt-op">JOIN NOW</button>
            </div>
        </div>
    </section>


    <footer>
        <div class="ft d-flex">
            <div class="logo logo-footer">
                <a href="home.html">
                    <img class="w-100" src="../images/layout/logo-ft.png" alt="logo-ft">
                </a>
            </div>
            <div class="menu-ft">
                <ul class="choose-option d-flex">
                    <li class="option-ft">
                        <a href="WhyChooseUs.html" class="op-ft">WHY CHOOSE US</a>
                    </li>
                    <li class="option-ft">
                        <a href="industries.html" class="op-ft">INDUSTRIES</a>
                    </li>
                    <li class="option-ft">
                        <a href="work.html" class="op-ft">WORKS</a>
                    </li>
                    <li class="option-ft">
                        <a href="team.html" class="op-ft">OUR TEAM</a>
                    </li>
                    <li class="option-ft">
                        <a href="contact.html" class="op-ft">CONTACT</a>
                    </li>                                                     
                </ul>
            </div>
             
            <div class="d-flex right-footer ">
                <a class="ft-contact" href="#">012345XXXXX</a>
                <div class="mxh">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="mxh">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            
        </div>
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>