<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDUSTRIES</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/industries.css">
</head>
<body>
    <header class="header">
      <nav class="nav bg">
        <div class="menu">
            <div class="img-logo">
                <a href="home.html"><img class="w-100" src="../images/layout/logo.png" alt="logo"></a>
            </div>
            <div>
                <ul class="main-menu">
                    <li class="option-menu">
                        <a href="WhyChooseUs.html" class="option">WHY CHOOSE US</a>
                    </li>
                    <li class="option-menu">
                        <a href="industries.html" class="option ">INDUSTRIES</a>
                    </li>
                    <li class="option-menu">
                        <a href="work.html" class="option">WORKS</a>
                    </li>
                    <li class="option-menu">
                        <a href="team.html" class="option">OUR TEAM</a>
                    </li>
                    <li class="option-menu">
                        <a href="contact.html" class="option">CONTACT</a>
                    </li> 
                    <li class="option-menu">
                        <a href="#" class="option vn">ENG/VN</a>
                    </li>                                  
                </ul>
            </div>
        </div>
    </nav>
    </header>

    <section>
        <div class="container">
            <div class="textL">
              <div class="text">
                <h2>INDUSTRIES</h2>
              <p>Unlock new value, build trust and bring transparency 
                across industries and businesses with the power of Blockchain.</p>
              </div>
                <button class="button">Contact Us</button>
            </div>
            <div class="imageR img-hv">
              <img class="w-100" src="../images/industries/Industries-1.png" alt="Ảnh mẫu">
            </div>
        </div>

        <div class="container">
            <div class="imageL img-hv">
              <img src="../images/industries/Industries-2.png" alt="Ảnh mẫu">
            </div>
            <div class="textR">
                <div class="text">
                    <p >our industries</p>
                  <h4>Consumer electronics</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.</p>
                  </div>
                    <button class="button">LEARN MORE</button>
            </div>
          </div>

        <div class="container">
            <div class="textL alg-right">
              <div class="text">
                <p>our industries</p>
                <h4>Fintech</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua. Nisl tincidunt eget nullam non. <br>
                Quis hendrerit dolor magna eget.</p>
              </div>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="imageR img-hv">
              <img class="w-100" src="../images/industries/Industries-3.png" alt="Ảnh mẫu">
            </div>
        </div>

        <div class="container">
            <div class="imageL img-hv">
              <img src="../images/industries/Industries-4.png" alt="Ảnh mẫu">
            </div>
            <div class="textR">
                <div class="text">
                    <p>our industries</p>
                  <h4>Healthcare</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.</p>
                  </div>
                    <button class="button">LEARN MORE</button>
            </div>
          </div>

        <div class="container">
            <div class="textL alg-right">
              <div class="text">
                <p>our industries</p>
                <h4>Insurance</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua. Nisl tincidunt eget nullam non. <br>
                Quis hendrerit dolor magna eget.</p>
              </div>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="imageR img-hv">
              <img class="w-100" src="../images/industries/Industries-5.png" alt="Ảnh mẫu">
            </div>
        </div>

        <div class="container">
            <div class="imageL img-hv">
              <img src="../images/industries/Industries-6.png" alt="Ảnh mẫu">
            </div>
            <div class="textR">
                <div class="text">
                    <p>our industries</p>
                  <h4>Logistics</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.</p>
                  </div>
                  <button class="button">LEARN MORE</button>
            </div>
          </div>

        <div class="container">
            <div class="textL alg-right">
              <div class="text">
                <p>our industries</p>
                <h4>Manufacturing</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua. Nisl tincidunt eget nullam non. <br>
                Quis hendrerit dolor magna eget.</p>
              </div>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="imageR img-hv">
              <img class="w-100" src="../images/industries/Industries-7.png" alt="Ảnh mẫu">
            </div>
        </div>

        <div class="container">
            <div class="imageL img-hv">
              <img src="../images/industries/Industries-8.png" alt="Ảnh mẫu">
            </div>
            <div class="textR">
                <div class="text">
                    <p>our industries</p>
                  <h4>Travel</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.</p>
                  </div>
                    <button class="button">LEARN MORE</button>
            </div>
          </div>

        <div class="container">
            <div class="textL alg-right">
              <div class="text">
                <p class="our">our industries</p>
                <h4>Startup</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et <br>
                dolore magna aliqua. Nisl tincidunt eget nullam non. <br>
                Quis hendrerit dolor magna eget.</p>
              </div>
                <button class="button">LEARN MORE</button>
            </div>
            <div class="imageR img-hv">
              <img class="w-100" src="../images/industries/Industries-9.png" alt="Ảnh mẫu">
            </div>
        </div>
    </section>

    <footer>
          <div class="ft d-flex">
            <div class="logo logo-footer">
              <a href="home.html">
                  <img class="w-100" src="../images/layout/logo-ft.png" alt="logo-ft">
              </a>
          </div>
          <div class="menu-ft">
              <ul class="choose-option d-flex">
                  <li class="option-ft">
                      <a href="WhyChooseUs.html" class="op-ft">WHY CHOOSE US</a>
                  </li>
                  <li class="option-ft">
                      <a href="industries.html" class="op-ft">INDUSTRIES</a>
                  </li>
                  <li class="option-ft">
                      <a href="work.html" class="op-ft">WORKS</a>
                  </li>
                  <li class="option-ft">
                      <a href="team.html" class="op-ft">OUR TEAM</a>
                  </li>
                  <li class="option-ft">
                      <a href="contact.html" class="op-ft">CONTACT</a>
                  </li>                                                     
              </ul>
          </div>
           
          <div class="d-flex right-footer ">
              <a class="ft-contact" href="#">012345XXXXX</a>
              <div class="mxh">
                  <i class="fab fa-linkedin-in"></i>
              </div>
              <div class="mxh">
                  <i class="fab fa-twitter"></i>
              </div>
          </div>
          
      </div>
  </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>