<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/Team.css">
</head>
<body>
    <header class="header">
        <nav class="nav bg">
            <div class="menu">
                <div class="img-logo">
                    <a href="home.html"><img class="w-100" src="../images/layout/logo.png" alt="logo"></a>
                </div>
                <div>
                    <ul class="main-menu">
                        <li class="option-menu">
                            <a href="WhyChooseUs.html" class="option">WHY CHOOSE US</a>
                        </li>
                        <li class="option-menu">
                            <a href="industries.html" class="option ">INDUSTRIES</a>
                        </li>
                        <li class="option-menu">
                            <a href="work.html" class="option">WORKS</a>
                        </li>
                        <li class="option-menu">
                            <a href="team.html" class="option">OUR TEAM</a>
                        </li>
                        <li class="option-menu">
                            <a href="contact.html" class="option">CONTACT</a>
                        </li> 
                        <li class="option-menu">
                            <a href="#" class="option vn">ENG/VN</a>
                        </li>                                  
                    </ul>
                </div>
            </div>
            <div class="menu-title">
                <h3 class="title-m">                   
                    Our Vision
                </h3>
                <p class="text-m">
                    We strive to help change the world with Blockchain technology    
                </p>
            </div>
           
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="list-work">
                <div class="card">
                    <img class="wh"src="../images/team/Team-4.png" alt="">
                    <div class="card-content">
                      <p>
                        TVM Blockchain is accelerating the development of decentralised applications. 
                        We build and grow blockchain companies by leveraging our network, expertise and access to capital.
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/team/Team-5.png" alt="">
                    <div class="card-content">
                      <p>
                        We joint venture with leading companies and domain experts to incubate innovative applications. 
                        These applications transform business models and disrupt industries, using blockchain technology.
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh" src="../images/team/Team-7.png" alt="">
                    <div class="card-content">
                      <p>
                        We leverage our deep experience in blockchains and Ethereum smart contracts to architect platforms 
                        and applications that creates new digital business models.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <div>
                <div class="slide-team d-flex ">
                    <img src="../images/team/Team-9.png" alt="T9" class="slide-team-item w-100">
                    <img src="../images/team/Team-10.png" alt="T10" class="slide-team-item w-100">
                    <img src="../images/team/Team-11.png" alt="T11" class="slide-team-item w-100">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ld">
            <div class="leader alg-center">
                <h2 class="leader-title">LEADER TEAM</h2>
                <p class="p">Our team is made up of product, business and technology experts, <br>
                    who are passionate about the future of blockchain technology.</p>
            </div>
            <div class="leader-content list-ld">
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and 
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center">
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and 
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center">
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="leader-item alg-center" >
                    <img class="img" src="../images/team/Team-12.png" alt="leader">
                    <div class="info">
                        <h3>Alan Burt</h3>
                      <p>Co-Founder and
                        Chairperson</p>
                    </div>
                    <div class="social">
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-partner">
        <div class="image-container">
            <img class="w-100" src="../images/team/Team-2.png" alt="partner">
            <h2>OUR PARTNERS</h2>
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when.
            </h4>
        </div>
    </section>

    <footer>
        <div class="ft d-flex">
            <div class="logo logo-footer">
                <a href="home.html">
                    <img class="w-100" src="../images/layout/logo-ft.png" alt="logo-ft">
                </a>
            </div>
            <div class="menu-ft">
                <ul class="choose-option d-flex">
                    <li class="option-ft">
                        <a href="WhyChooseUs.html" class="op-ft">WHY CHOOSE US</a>
                    </li>
                    <li class="option-ft">
                        <a href="industries.html" class="op-ft">INDUSTRIES</a>
                    </li>
                    <li class="option-ft">
                        <a href="work.html" class="op-ft">WORKS</a>
                    </li>
                    <li class="option-ft">
                        <a href="team.html" class="op-ft">OUR TEAM</a>
                    </li>
                    <li class="option-ft">
                        <a href="contact.html" class="op-ft">CONTACT</a>
                    </li>                                                     
                </ul>
            </div>
             
            <div class="d-flex right-footer ">
                <a class="ft-contact" href="#">012345XXXXX</a>
                <div class="mxh">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="mxh">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>