<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHYCHOOSEUS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/whychoose.css">
</head>
<body>
    <header class="header">
        <nav class="nav bg">
            <div class="menu">
                <div class="img-logo">
                    <a href="home.html"><img class="w-100" src="../images/layout/logo.png" alt="logo"></a>
                </div>
                <div>
                    <ul class="main-menu">
                        <li class="option-menu">
                            <a href="WhyChooseUs.html" class="option">WHY CHOOSE US</a>
                        </li>
                        <li class="option-menu">
                            <a href="industries.html" class="option ">INDUSTRIES</a>
                        </li>
                        <li class="option-menu">
                            <a href="work.html" class="option">WORKS</a>
                        </li>
                        <li class="option-menu">
                            <a href="team.html" class="option">OUR TEAM</a>
                        </li>
                        <li class="option-menu">
                            <a href="contact.html" class="option">CONTACT</a>
                        </li> 
                        <li class="option-menu">
                            <a href="#" class="option vn">ENG/VN</a>
                        </li>                                  
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="page-banner">
             <div class="banner">
                <img class="w-100" src="../images/whychooseus/Why-choose-us-1.png" alt="">
             </div>
             <div class="title-bn ">
                <h2 class="title-banner">We respond with all IT solutions
                    for customer issues and innovation </h2>
                <p class="sub-banner">From system design, development and operation. Since we are 
                    able to consistently carry out all phases of development, you can 
                    consult us about everything. With application development 
                    technology, IT infrastructure system construction technology, 
                    embedded technology, and advanced technology as the core, we 
                    support IT solutions to solve customer problems.</p>
             </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="title-page">
                <h2 style="font-weight: bold;">WHAT IS BLOCKCHAIN</h2>
            </div>
            <div class="sub-page">
                <ul class="den">
                    <li>
                    Blockchain is a system of recording information in a way that makes it difficult or impossible to 
                    change, hack, or cheat the system.
                    </li>
                    <li>
                    A blockchain is essentially a digital ledger of transactions that is duplicated and distributed 
                    across the entire network of computer systems on the blockchain. Each block in the chain 
                    contains a number of transactions, and every time a new transaction occurs on the blockchain, a 
                    record of that transaction is added to every participant’s ledger. The decentralised database 
                    managed by multiple participants is known as Distributed Ledger Technology (DLT).
                 </li>
                </ul>
            </div>
            <div class="alg-center">
                <h4>The properties of Distributed Ledger Technology (DLT)</h4>
            </div>
            <div class="dlt-table container">
                <table>
                    <tbody class="alg-center">
                        <tr>
                            <td>
                                <h4>Programmable</h4>
                                <p>A blockchain is
                                    programmable (i.e.Smart Contracts)
                                </p>
                            </td>
                            <td rowspan="3">
                                <img src="../images/whychooseus/Why-choose-us-3.png" alt="DLT">
                            </td>
                            <td>
                                <h4>Distributed</h4>
                                <p>All network participants
                                    have a copy of the ledger
                                    for complete transparency                                    
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <h4>Secure</h4>
                                <p>All records are
                                    individually encrypted                                    
                                </p>
                            </td>
                        
                            <td>
                                <h4>Immutable</h4>
                                <p>Any validated records are
                                    irreversible and cannot be
                                    changed
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Anonymous</h4>
                                <p>The identity of participants
                                    is either anonymous or
                                    pseudonymous                                    
                                </p>
                            </td>
                            <td>
                                <h4>Time-stamped</h4>
                                <p>A transaction timestamp is
                                    recorded on a block                                    
                                </p>
                            </td>
                           
                        </tr>
                        <tr>
                            
                            <td colspan="3">
                                <h4>Unanimous</h4>
                                <p>All network participants
                                    agree to the validity of
                                    each of the records
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="title-page">
                <h2>Reasons You Should Be Considering Blockchain</h2>
            </div>
            <div class="list-work">
                <div class="card">
                    <img class="wh"src="../images/whychooseus/Why-choose-us-8.png" alt="">
                    <div class="card-content">
                      <h4>Process Ineffiency</h4>
                      <p>
                        Slow and expensive reconciliation
                        processes. Manual operation of
                        interbusiness relationaships. Redundant 
                        processes across supplies, customers, peers.
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh"src="../images/whychooseus/Why-choose-us-9.png" alt="">
                    <div class="card-content">
                      <h4>Lack of Look-Though</h4>
                      <p>
                        Limited transparency both up and down
                        my supply chain prevening data driven
                        insights. Difficulty in tracking procurement, 
                        diliveries and inventory
                      </p>
                    </div>
                </div>
                <div class="card">
                    <img class="wh" src="../images/whychooseus/Why-choose-us-10.png" alt="">
                    <div class="card-content">
                      <h4>Competitive Relevance</h4>
                      <p>
                        Need to remain relevant and need to understand technological disruption risk.
                        Need to leverage my assets to create or enter new markets
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="title-page">
                <h2 style="font-weight: bold;">OUR SERVICE - YOUR BENEFITS</h2>
            </div>
            <div class="list-work">
               
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-12.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">COST EFFICIENCY</h4>
                        <p>
                            Outsourcing enabies companies to reduce their costs on resource management, overhead cost, labor, working space,etc.
                        </p>
                    </div>
                </div>
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-13.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">RISK REDUCTION</h4>
                        <p>
                            Outsourcing it a way of risk sharing. By outsourcing your software development tasks, you are minimizing the risk.
                        </p>
                    </div>
                </div>
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-16.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">SOCUS ON CORE BUSINESS</h4>
                        <p>
                            Outsourcing enable customers to divert their attention from supplementary tasks to focusing on their core functions.
                        </p>
                    </div>
                </div>
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-18.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">REDUCE TIME TO MARKET</h4>
                        <p>
                            The huge pool of IT  workforce and infrastructure that the offshore IT.
                        </p>
                    </div>
                </div>
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-20.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">STAFFING FLEXIBILITY</h4>
                        <p>Outsourcing will allow operations that have seasonal or cyclical demands to bring.
                        </p>
                    </div>
                </div>
                <div class="card-os">
                    <div class="card-image-os">
                        <img src="../images/whychooseus/Why-choose-us-21.png" alt="Mô tả ảnh">
                    </div>
                    <div class="card-content-os">
                        <h4 class="os-bd">DIVERSE TECHNOLOGIES</h4>
                        <p>Outsourcing vendors have focus on paticular services and play in volume.
                        </p>
                    </div>
                </div>
                
                
            </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="title-page">
                <h2 style="font-weight: bold;">PROJECTS</h2>
            </div>
        
            <div class="d-flex">
                <div class="image-container">
                    <img class="background-image" src="../images/whychooseus/Why-choose-us-5.png" alt="Ảnh to">
                    <img class="overlay-image" src="../images/whychooseus/Why-choose-us-4.png" alt="Ảnh nhỏ">
                    <div class="overlay-text">
                        <h4>ABCXYZ</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>
                <div class="image-container">
                    <img class="background-image" src="../images/whychooseus/Why-choose-us-6.png" alt="Ảnh to">
                    <img class="overlay-image" src="../images/whychooseus/Why-choose-us-4.png" alt="Ảnh nhỏ">
                    <div class="overlay-text">
                        <h4>ABCXYZ</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>
                <div class="image-container">
                    <img class="background-image" src="../images/whychooseus/Why-choose-us-7.png" alt="Ảnh to">
                    <img class="overlay-image" src="../images/whychooseus/Why-choose-us-4.png" alt="Ảnh nhỏ">
                    <div class="overlay-text">
                        <h4>ABCXYZ</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        </p>
                    </div>
                </div>
            </div>
            
        </div>

    
    </section>
    <footer>
        <div class="ft d-flex">
            <div class="logo logo-footer">
                <a href="home.html">
                    <img class="w-100" src="../images/layout/logo-ft.png" alt="logo-ft">
                </a>
            </div>
            <div class="menu-ft">
                <ul class="choose-option d-flex">
                    <li class="option-ft">
                        <a href="WhyChooseUs.html" class="op-ft">WHY CHOOSE US</a>
                    </li>
                    <li class="option-ft">
                        <a href="industries.html" class="op-ft">INDUSTRIES</a>
                    </li>
                    <li class="option-ft">
                        <a href="work.html" class="op-ft">WORKS</a>
                    </li>
                    <li class="option-ft">
                        <a href="team.html" class="op-ft">OUR TEAM</a>
                    </li>
                    <li class="option-ft">
                        <a href="contact.html" class="op-ft">CONTACT</a>
                    </li>                                                     
                </ul>
            </div>
             
            <div class="d-flex right-footer ">
                <a class="ft-contact" href="#">012345XXXXX</a>
                <div class="mxh">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="mxh">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            
        </div>
    </footer> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>