<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/index.css">
    <link rel="stylesheet" href="../Css/Demo.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="mega-menu">
                <ul class="menu-1">
                    <li class="option">
                        <a href="#" class="option">Trang chủ</a>
                    </li>
                    <li class="option">
                        <a href="#" >Các khóa đào tạo</a>
                        <div class="menu-2">
                            <ul class="list-option-2">
                                <li class="option">
                                    <a href="#">Chuyên đề WEB - PHP</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">Lập trình web với HTMl-CSS-JS </a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Lập trình web frontend-reactjs</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Lập trình web với mã nguồn mở PHP&MySQL</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="option">
                                    <a href="#">Chuyên đề Java</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">Lập trình hướng đối tượng</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Lập trình ứng dụng với Java</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Lập trình website</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="option">
                                    <a href="#">Chuyên đề .NET</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">C#</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Windows Form</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">ASP.NET</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Lập trình cho trẻ em</a>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Dịch vụ</a>
                        <div class="menu-2">
                            <ul class="list-option-2">
                                <li class="option">
                                    <a href="#">Đào tạo theo nhu cầu</a>
                                </li>
                                <li class="option">
                                    <a href="#">Cung cấp thiết bị-Phần mềm</a>
                                </li>
                                <li class="option">
                                    <a href="#">Tư vấn-Thiết kế mạng hạ tầng </a>
                                </li>
                                <li class="option">
                                    <a href="#">Thực tập dự án</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Lịch khai giảng</a>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Tin tức</a>
                        <div class="menu-2">
                            <ul class="list-option-2">
                                <li class="option">
                                    <a href="#">Tin tức và sự kiện</a>
                                </li>
                                <li class="option">
                                    <a href="#">Tin hoạt động</a>
                                </li>
                                <li class="option">
                                    <a href="#">Tin công nghệ</a>
                                </li>
                                <li class="option">
                                    <a href="#">Thông tin việc làm </a>
                                </li>
                                <li class="option">
                                    <a href="#">Cẩm nang chia sẻ kiến thức</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Tiện ích</a>
                    </li>
                    <li class="option">
                        <a href="#" class="option">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="page-product">
      
        <div class="list-product d-flex">
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fv%2Fd%2Fvd.dapper.png&w=640&q=75" alt="anh">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-mid w-100">
                    <button class="w-100">Thêm vào giỏ hàng</button>
                </div>
                <div class="product-bot">
                    <h4 class="mb-3">Category</h4>
                    <h3 class="mb-3">Name</h3>
                    <p class="mb-3">
                        <span>1.600.000</span>

                        <span>2.000.000</span>
                    </p>
                </div>
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fv%2Fd%2Fvd.dapper.png&w=640&q=75" alt="anh">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-mid w-100">
                    <button class="w-100">Thêm vào giỏ hàng</button>
                </div>
                <div class="product-bot">
                    <h4 class="mb-3">Category</h4>
                    <h3 class="mb-3">Name</h3>
                    <p class="mb-3">
                        <span>1.600.000</span>

                        <span>2.000.000</span>
                    </p>
                </div>
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fv%2Fd%2Fvd.dapper.png&w=640&q=75" alt="anh">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-mid w-100">
                    <button class="w-100">Thêm vào giỏ hàng</button>
                </div>
                <div class="product-bot">
                    <h4 class="mb-3">Category</h4>
                    <h3 class="mb-3">Name</h3>
                    <p class="mb-3">
                        <span>1.600.000</span>

                        <span>2.000.000</span>
                    </p>
                </div>
            </div>
            <div class="product-item w-25">
                <div class="product-top">
                    <div class="product-img">
                        <img class="w-100" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fv%2Fd%2Fvd.dapper.png&w=640&q=75" alt="anh">
                    </div>
                    <div class="product-sale">
                        <h6>-20%</h6>
                    </div>
                </div>
                <div class="product-mid w-100">
                    <button class="w-100">Thêm vào giỏ hàng</button>
                </div>
                <div class="product-bot">
                    <h4 class="mb-3">Category</h4>
                    <h3 class="mb-3">Name</h3>
                    <p class="mb-3">
                        <span>1.600.000</span>

                        <span>2.000.000</span>
                    </p>
                </div>
            </div>
        </div>


        <div class="tin">
            <h3 class="text">
                <a class="font1" href="#">
                    Tin
                    <span>Công Nghệ</span>
                </a>
            </h3>
        </div>
        <div class="page-content dp-flex">
            <article class="page-blog w-25">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="#">
                            <img class="w-100" src="https://devmaster.edu.vn/uploads/images/2023/08/vn-top-dev.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-content">
                       <h4 class="card-title">
                        <a href="#">Việt Nam nhân sự IT</a>
                       </h4>
                      <p class="card-description">
                        Đến 2025, TopDev dự báo Việt Nam sẽ còn cần đến 700.000 nhân lực trong ngành công nghệ thông tin. Trong khi đó, số lượng lập trình viên hiện tại của V...                            <a href="#">Đọc thêm...</a>
                        </p>
                    </div>
                </div>
            </article>
            <article class="page-blog w-25">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="#">
                            <img class="w-100" src="https://devmaster.edu.vn/uploads/images/2021/11/khoa-hoc-may-tinh.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-content">
                       <h4 class="card-title">
                        <a href="#">Tổng quan nghành khoa học máy tính</a>
                       </h4>
                      <p class="card-description">
						Khoa học máy tính là ngành học khá là hot trong những năm trở lại đây, luôn là ngành top đầu trong các trường đại học. Vậy học khoa học máy tính chúng...
                            <a href="#">Đọc thêm...</a>
                        </p>
                    </div>
                </div>
            </article>
            <article class="page-blog w-25">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="#">
                            <img class="w-100" src="https://devmaster.edu.vn/uploads/images/2021/10/devmaster-xu-huo-ng-cong-nghe-dang-chu-y-trong-nam-2021.jpeg" alt="">
                        </a>
                    </div>
                    <div class="card-content">
                       <h4 class="card-title">
                        <a href="#">8 Xu thế công nghệ đáng chú ý nhất</a>
                       </h4>
                      <p class="card-description">
                        Trí tuệ nhân tạo (AI), công nghệ chuỗi khối (Blockchain), Internet vạn vật (IoT), mạng 5G, tự động hóa quy trình bằng robot (RPA),... được đánh giá là...                             <a href="#">Đọc thêm...</a>
                        </p>
                    </div>
                </div>
            </article>
        </div>
       


    </section>
</body>
</html>