<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../Css/product.css">
</head>
<body>
    <section>
        <div class="list-card">
            <div class="card" style="width: 450px">
                <div class="card-img">
                   <a href="#">
                        <img style="width: 100%" src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="img">
                        <span class="card-sale">
                            -10%
                        </span>
                   </a>
                </div>
                <div class="card-content">
                    <div class="add-card">
                        <button>Them vao gio hang</button>
                    </div>
                    <div class="card-title">
                        <h3 style="text-align: center;">product name</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">10.000.000 <sup>vnđ</sup></p>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>