<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>

</head>
<body>
    <header></header>
    <section>
        <h1>Các khái niệm cơ bản:</h1>
        I, Định nghĩa
        II, Mục đích
        III, Quy tắc
            - phân biệt hoa thường: a != A

        IV, Khai báo & sử dụng
            - 3 Cách sử dụng
        V, Nội dung:
        1, Biến.
    </section>
    <footer></footer>

    <script lang="javascript" src="../Js/home.js"></script>
    <!-- <script>
        alert("devmaster");
    </script> -->
    </br></br>
    <section>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="username">
        </div>
        <div>
            <label for="productName">productName</label>
            <input type="text" name="productName" id="productName" class="productName">
            <button type="button" onclick="searchProduct()">tìm kiếm </button>
        </div>
    </section>

    <footer></footer>
</body>
</html>