<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Example</title>
  <link rel="stylesheet" href="../Css/login.css">
  <script lang="javascript" src="../Js/Login.js"></script>

</head>
<body>
      <section class="section">
        <div class="form-login">
          <div class="logo-login">
            <div class="img-logo">
              <img src="../images/logo.jpg" alt="logo">
            </div>
          </div>
          <div class="content-form">
            <form class="form">
              <div class="form-input">
                <div class="input-user">
                  <input type="text" placeholder="Username" name="username" id="user">
                </div>
                <div class="input-pass">
                  <input type="password" placeholder="Password" id="pass">
                </div>
              </div>
              <div class="form-button">
                <button onclick="return checkLogin()" >Đăng nhập</button>
              </div>
              <div class="form-help">
                <a href="#" title="help">Bạn cần trợ giúp</a>
              </div>
            </form>
         </div>
      </section>
</body>
</html>
