<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/bt.css">
</head>
<body>
    <header class="header">
        <nav class="menu-nav">
            <div class="mega-menu">
                <ul class="menu-1">
                    <li class="option">
                        <a href="#">Điện thoại</a>
                    </li>
                    <li class="option">
                        <a href="#">Laptop</a>
                    </li>
                    <li class="option">
                        <a href="#">Phụ kiện</a>
                        <div class="menu-2">
                            <ul class="list-option-2">
                                <li class="option">
                                    <a href="#">Phụ kiện di động</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">Sạc dự phòng</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Sạc, cáp</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Ốp lưng điện thoại</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="option">
                                    <a href="#">Phụ kiện Laptop</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">Chuột</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Bàn phím</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Thiết bị mạng</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="option">
                                    <a href="#">Thiết bị âm thanh</a>
                                    <div class="menu-3">
                                        <ul class="list-option-3">
                                            <li class="option">
                                                <a href="#">Tai nghe</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Loa</a>
                                            </li>
                                            <li class="option">
                                                <a href="#">Micro</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="option">
                        <a href="#">Đồng hồ</a>
                    </li>
                    <li class="option">
                        <a href="#">PC, Máy in</a>
                        <div class="menu-2">
                            <ul class="list-option-2">
                                <li class="option">
                                    <a href="#">Máy in</a>
                                </li>
                                <li class="option">
                                    <a href="#">Mực in</a>
                                </li>
                                <li class="option">
                                    <a href="#">Màn hình máy tính</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="option">
                        <a href="#">Dịch vụ tiện ích</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="page-content">
       <div>
            <div class="banner">
                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2023/09/banner/banner-big-tgdd-deskoptimized-1920x451.png" alt="banner">
            </div>
            <div class="list-card">
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%;" src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/289700/iphone-14-pro-max-den-thumb-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;"><a href="#">iPhone 14 Pro Max</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">28.690.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%;" src="https://cdn.tgdd.vn/Products/Images/42/309722/oppo-reno10-blue-thumbnew-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;"><a href="#">OPPO Reno10 5G</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">9.990.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%;" src="https://cdn.tgdd.vn/Products/Images/7077/289814/apple-watch-ultra-alpine-m-cam-thumbnew-1-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;"><a href="#">Apple Watch Ultra LTE</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">19.490.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%; margin-top: 80px;" src="https://cdn.tgdd.vn/Products/Images/44/309017/apple-macbook-air-15-inch-m2-2023-midnight-thumb-1-600x600.jpg" alt="">
                    </div> 
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center; margin-bottom: 20px; margin-top: 60px"><a href="#">MacBook Air 15 inch M2 2023</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">37.990.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%;" src="https://cdn.tgdd.vn/Products/Images/42/301608/samsung-galaxy-z-fold5-%20kem-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;"><a href="#">Samsung Galaxy Z Fold5</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">34.90.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%; margin-top: 80px;" src="https://cdn.tgdd.vn/Products/Images/44/263983/acer-nitro-5-gaming-an515-57-5669-i5-11400h-8gb-512gb-144hz-4gb-gtx1650-win11-nhqehsv001-031221-100506-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center; margin-top: 60px;" ><a href="#">Acer Nitro 5 Gaming AN515</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center;color: red;">9.990.000&#8363;</h3>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25%;">
                    <div class="card-img">
                        <img style="width: 100%;" src="https://cdn.tgdd.vn/Products/Images/7077/274192/dong-ho-thong-minh-xiaomi-watch-s1-nau-tn-600x600.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;"><a href="#">Xiaomi Watch S1</a></h3>
                        </div>
                        <div class="card-price">
                            <h3 style="text-align: center; color: red;">5.790.000&#8363;</h3>
                        </div>
                    </div>
                </div>
            </div>
       </div>

    </section>
    
</body>
</html>