<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT6</title>
</head>
<body>
    <h1>Đăng ký thông tin người dùng</h1>
    <form id="Dangky">
        <table>
            <tr>
                <td><label for="username"><b>Tên đăng nhập</b></label></td>
                <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <td><label for="password"><b> Mật khẩu</b></label></td>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <td><label for="password"><b> Nhập lại mật khẩu</b></label></td>
                <td><input type="password" name="password" id=""></td>
            </tr>
            <tr>
                <td><label for="email"><b>Email</b></label></td>
                <td><input type="email" name="Email" id="email" style="width: 260px;"></td>
            </tr>
            <tr>
                <td><b> Giới tính</b></td>
                <td>
                    <input type="radio" name="gender" value="nam"> Nam
                    <input type="radio" name="gender" value="nữ"> Nữ 
                </td>
            </tr>
            <tr>
                <td><b> Độ tuổi</b></td>
                <td>
                    <input type="radio" name="gender1" value="Dưới 13 tuổi"> Dưới 13 tuổi
                    <input type="radio" name="gender1" value="Từ 13-17 tuổi"> Từ 13 đến 17 tuổi
                    <input type="radio" name="gender1" value="Từ 18-25 tuổi"> Từ 18 đến 25 tuổi
                    <input type="radio" name="gender1" value="Trên 25 tuổi"> Trên 25 tuổi
                </td>
            </tr>
            <tr>
                <td><b> Sở thích của bạn</b></td>
                <td>
                    <input type="checkbox" name="so_thich" > Âm nhạc
                    <input type="checkbox" name="so_thich" > Game
                    <input type="checkbox" name="so_thich"> Thể thao
                    <input type="checkbox" name="so_thich"> Du lịch
                </td>
            </tr>
            <tr>
                <td><b> Nghề nghiệp</b></td>
                <td>
                    <select name="select" id="select">
                        <option value="0">Chọn ngành nghề</option>
                        <option value="1">Công nhân</option>
                        <option value="2">Nông dân</option>
                        <option value="3">Bác sĩ</option>
                        <option value="4">Giáo viên</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="string"><b> Mô tả bản thân</b></label></td>
                <td>
                    <textarea name="string" id="string" cols="30" rows="3" placeholder="Mô tả về bản thân bạn..."></textarea>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="submit" value="Đăng ký" style="background-color:#AFEEEE">
                    <input type="submit" name="submit" value="Làm lại" style="background-color:#AFEEEE">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>