<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EX03</title>
    <link rel="stylesheet" href="../Css/ex03.css">
<body>
    <header class="header">
        <nav class="nav">    
                <ul class="main-menu">
                    <li class="option-menu">
                        <a href="#" class="option">Trang chủ</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option c-blue">Sản phẩm</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">Dịch vụ</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">Giới thiệu</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">Liên hệ</a>
                    </li>
                    
                  </ul>
        </nav>
    </header>
</body>
</html>