<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách sử dụng CSS</title>

    <link rel="stylesheet" href="../Css/ex1.css">
    <link rel="stylesheet" href="../Css/ex2.css">

</head>
<body>

    <header class="header" id="header" data-attr="header"></header>

    <section class="demo">
        I, Cách tạo file CSS
        'tên_file'.'css'
        II, Cách viết css
            1, Viết css trên chính các element
                toàn bộ css được đặt trong value của thuộc tính style trên element mở

            2, viết CSS trong nội dung của element style 
            3, khởi tạo và khai báo file chứa các nội dung css 
                - nắm được quy tắc tạo file CSS
                - biết cách nhúng file CSS vào file html 
                - nắm được cú pháp viết CSS (selector)
                 +, cú pháp 
                    'selector' {
                        key: value <=> tên thuộc tính: giá trị thuộc tính
                    }
                 +, ghi chú: selector <=> element/class/attr/id 
                                            (độ ưu tiên tăng dần) || hoặc !important hoặc độ chi tiết


    </section>
    <footer></footer>
</body>
</html>