<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <fieldset style="width: 500px ;">
    <form id="SignUp">
        <h2>Sign Up</h2>
        <h4>It's free and always will be.</h4>
        <hr>
        <table >
            <tr>
                <td>
                    <label for="firstname">First Name:</label>
                </td>
                <td>
                    <input type="text" name="firstname" id="firstname">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastname">Last Name:</label>
                </td>
                <td>
                    <input type="text" name="lastname" id="lastname">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="YourEmail">Your Email:</label>
                </td>
                <td>
                    <input type="text" name="YourEmail" id="YourEmail">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="enterEmail">Re-enter Email:</label>
                </td>
                <td>
                    <input type="text" name="enterEmail" id="enterEmail">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">New Password:</label>
                </td>
                <td>
                    <input type="text" name="password" id="password">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Iam">I am:</label>
                </td>
                <td>
                    <select name="Iam" id="Iam">
                        <option value="0">Select Sex:</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Birthday">Birthday:</label>
                </td>
                <td>
                    <select name="Month" id="Month">
                        <option value="1">Month:</option>
                    </select>             
                    <select name="Day" id="Day">
                        <option value="2">Day:</option>
                    </select>
                    <select name="Year" id="Year">
                        <option value="3">Year:</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <p><span style="color: blue;"> Why do I need to provide my birthday?</span></p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <p>
                        By clicking Sign Up, you agree to our <span style="color: blue;">Terms</span> and <br>
                        that you have read and understand our <span style="color: blue;">Data Use <br> Policy</span>, 
                        including our  <span style="color: blue;">Cookie Use.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="width: 500px ;">
                    <input type="button" name="button" value="Sign Up" style="background-color:#afeeaf">
                </td>
            </tr>
        </table>
        </form>
        </fieldset>
</body>
</html>