<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaiTap</title>
</head>
<body>
    <style>
        div.a {
            text-align: center;
        }
        </style>
    <header class="demo header" id="test" style="display: none;">
        <h1>Demo</h1>
    </header>

    <section id="test1">
        <div class="form-login" style="background-color: #e5e5e5; width: 360px; padding: 30px; margin-top: 50px; margin-left: 500px;" >
            <div class="logo-login">
                <div class="img-logo">
                    <img src="../Less4/images/curnon.jpg" alt="logo">
                </div>
            </div>
            <div class="content-form">
                <form class="form" >
                    <div class="form">
                        <div class="a">
                            <p style="font-size: 16px ;" text-align: center;>
                                <code>KASHMIR</code>
                            </p>
                        </div>
                        <div class="a">
                            <p>MODISH</p>
                        </div>
                        <div class="a">
                            <p>2.184.000&#8363; <del> 2.299.000&#8363;</del></p>                    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>