<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header class="demo header" id="test" style="display: none;">
        <h1>Tạo form login</h1>
    </header>

    <section id="test1">
        <div class="form-login" style="background-color: #e5e5e5; width: 200px; padding: 30px; margin-top: 50px; margin-left: 550px;" >
            <div class="logo-login">
                <div class="img-logo">
                    <img src="https://devmaster.edu.vn/images/logo.png" alt="logo" style="border-radius: 75%;">
                </div>
            </div>
            <div class="content-form">
                <form class="form">
                    <div class="form-input">
                        <div class="input-email">
                            <input type="email" placeholder="Email" name="Email" id="email" style="width: 180px; padding: 4px ; border: 1px solid #b2b2b2; border-bottom: 0;">
                        </div>
                        <div class="input-password">
                            <input type="password" placeholder="Mật khẩu" name="password" style="width: 180px; padding: 4px ; border: 1px solid #b2b2b2;">
                        </div>
                    </div>

                    <div class="form-button">
                        <button type="button" style="margin-top: 10px; width: 190px; text-align: center; padding: 5px 0; background: #0080ff; color: #fff; border: #b2b2b2; margin-bottom: 5px; border-radius: 4px;">Đăng nhập</button>
                    </div>

                    <div class="form-help">
                        <a href="#" title="help" style="text-decoration: none;">Bạn cần trợ giúp?</a>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <footer>

    </footer>
</body>
</html>