<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review html less04</title>
</head>
<body>
    
    <header>

    </header>

    <section>
        <div>
            <pre>
                I, Cấu trúc 1 file html
                    - head
                    - body
        
                II, Table và form: cú pháp và ứng dụng
                    1, Table 
                        - cú pháp: table > thead/tbody/tfoot > tr > th/td > element
                        - các thuộc tính ứng dụng => xây dựng len table:
                            + gom cột, gom ô, tạo viền, tạo khoảng cách
                    2, Form:
                        - cú pháp: form > element (...)
                        - một số thuộc tính tiêu biểu trong form: action, method,...
                III, Phân chia bố cục và nội dung: 
                    *) cấu trúc của một thân website thông thường: header - section - footer 
                    header: thường sẽ là chứa các lựa chọn điều hướng => sử dụng kết hợp với nav
                    section: kết hợp tất cả các element 
                    footer: thường là các thông tin ghi chú... 

                    *) Vận dụng phân chia bố cục nội dung cho từng thành phần hợp lý
            </pre>
        </div>

    </section>

    <footer>

    </footer>

</body>
</html>