<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ví dụ</title>
</head>
<body>
    <header class="test" id="demo">
        <h1></h1>
    </header>

    <section id="demo1">
        <div class="computer1">
            <div>
                <div class="img-logo">
                    <img src="../images/anh.png" alt="logo">
                </div>
            </div>
            <div class="computer2" style="width: 350px;">
                <div class="computer3">
                    <h2>Tổng quan khoa học máy tính</h2>
                </div>
                <div class="date">
                    <p>04/11/2021</p>
                </div>
                <div class="computer4">
                    <p> 
                        Khoa học máy tính là ngành học khá là hot trong những năm trở lại đây,
                        luôn là ngành top đầu trong các trường đại học. Vậy khoa học máy tính 
                        chúng...
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>